body {
    background-image: url('background.jpg');
    color:#fffcf0;
    /* border-style:solid; */

}
.container{
    /* margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    border-style:solid; */
}
.upgrades{
    border-style: solid;
    width: 304px;
}
.moneySign {
    margin-left: 50px;
}
.hovering {

visibility:hidden;
}
#wrapper:hover .hovering {
visibility:visible;
}
.number{
    font-size: 80px;
}
.extras  {
    float:right;
    border-style: solid;
    border-spacing: 15px;
    position: relative;
}

.money {
    float: left;
    border-style: solid;
    width: 497px;
    height: 683px;

}
.clickable{
    border-style: solid;
    height: 683px;
    width: 445px;
    float:left;
}
.allUpgrades{
    float: right;
    height: 683px;
    width: 575px;
    border-style: solid;
    overflow-y: scroll;
}
#all {
    position: relative;
}
#settings {
    border-style: solid;
    /* width: 1000px; */
    /* height: 400px; */
    position: absolute;
}
